@font-face {
  font-family: 'Departure Mono';
  src: url('../assets/font/DepartureMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

html {
  font-family: 'Departure Mono', ui-monospace, monospace;
  font-size: 11px;
  line-height: 1.6;
}
