---
import '../styles/themes.css';
import '../styles/font.css';
import '../styles/reader.css';
import AppFooter from '../components/AppFooter.astro';
import type { ThemeName } from '../config.js';

interface Props {
  title: string;
  theme: ThemeName;
}

const { title, theme } = Astro.props;
---
<!doctype html>
<html lang="en" class={`theme-${theme}`}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>{title}</title>
  </head>
  <body class="reader">
    <slot />
    <AppFooter />
  </body>
</html>
